/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title */
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

/**
 * Settings for the menu
 */
#block-menu-block-1 .menu, #block-menu-block-1 .leaf,
#block-menu-block-2 .menu, #block-menu-block-2 .leaf{
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  padding-left: 0;
} 

.menu{
  text-transform: uppercase;
  font-family:Gotham;   
}

.menu a, .menu a.active, .menu a.active-trail{
  color: #00C3FF;
}

.menu a.active , .menu a.active-trail {
  font-family: 'Gotham Book';
}

#block-menu-block-1 .menu a.active , #block-menu-block-1 .menu a.active-trail {
  font-size: 27px;
}

#block-menu-block-1 .menu li.active {
  margin-top: 8px;
  margin-bottom: 8px;
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}
 
#block-system-user-menu .block-title {
    display:none;
}

#block-system-user-menu .menu, #block-system-user-menu .leaf {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

/* "User login form" block, user/login page and user/register page */

#block-user-login, #user-login, #user-register-form, #user-login-form { 
  font-family:Gotham;
  color: #00C3FF;
}

.page-user-register #page-title{
  display:inherit;
  padding-top: 28px;
  font-size: 15px;
  text-transform:uppercase;
  font-family: 'Gotham Book';
  color: #00C3FF;
}

#block-user-login .block-title{
  display: none;
}

#block-user-login, #user-login, #user-register-form{
  margin-left: 60px;	
}

#user-login, #block-user-login, #user-register-form{
  padding-left: 120px;
}

#block-user-login .form-item, #user-login .form-item, #user-register-form .form-item{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#block-user-login .form-item-pass, #user-login .form-item-pass{
  padding-bottom: 15px;
}

#block-user-login label,
#user-login label,
#user-register-form label{
  float: left;
  clear: left;
  display: block;
  width: 184px;
}

#block-user-login .item-list,
#user-login .item-list{
  clear: left;
}

#block-user-login .form-item-name #edit-name,
#block-user-login .form-item-pass #edit-pass,
#user-login .form-item-name #edit-name,
#user-login .form-item-pass #edit-pass,
#user-register-form .form-item-mail #edit-mail,
#user-register-form .form-item-field-first-name-und-0-value #edit-field-first-name-und-0-value,
#user-register-form .form-item-field-last-name-und-0-value #edit-field-last-name-und-0-value,
#user-register-form .form-type-password #edit-pass-pass1,
#user-register-form .form-type-password #edit-pass-pass2
{
  font-size: 12px;
  width: 300px;
}

#user-register-form .form-item-field-last-name-und-0-value,
#user-register-form .form-item-mail {
  padding-bottom: 10px;
}

#user-login .form-item .description {
  display: none;
}

#block-user-login #edit-actions, #block-user-login #fboauth-login,
#user-login #edit-actions, #user-login #fboauth-login{
  margin-top: 0;
  padding-top: 0 !important;
}

#block-user-login #edit-actions input, #user-login #edit-actions input,
#user-register-form #edit-actions input{
  overflow:visible;
  font-family:Gotham Book; 
  font-size:15px;
  font-weight:bold;
  letter-spacing: 0em;
  text-transform: uppercase;
  display:inline;  
  margin:0; 
  padding:0 !important; 
  border:0; 
  color: #00C3FF; 
  cursor:pointer;
  background-color: transparent;
  text-align: left;
}

#block-user-login #edit-actions input, #user-login #edit-actions input{
  width: 184px;
}
#user-register-form #edit-actions input {
  width: 234px;
}

#block-user-login .item-list, #user-login .item-list {
  font-style: italic;	
}

#block-user-login .item-list ul, #user-login .item-list ul{
  list-style-image: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

#block-user-login .form-item .form-required, #user-login .form-item .form-required, #user-register-form .form-item .form-required{
  display: none;
}

#edit-mailchimp-lists  {
  border: none;
  padding-left: 0;
  margin-left: 0;
}

#user-register-form .description {
  padding-left: 0;
  margin-left: 0;
  margin-top: 11px;
  font-size: 12px;
  color: #606060;
  font-family: 'ITC Slimbach Std';
  width: 500px;
}

#edit-mailchimp-lists legend{
  display: none;
}

#user-register-form #edit-actions, #user-register-form #fboauth-login{
  padding-bottom: 15px;
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
