/**
 * @file
 * Filosofian Akatemia specific div's and their styling
 */

#fa-address {
  font-size: 12px;
  float:left;
}

#fa-customers {
  font-size: 12px;
  float: left;
  padding-left: 140px;
}

#fa-some {
  font-family:Gotham;
}

#fa-frontheading {
  font-family:Gotham;
  font-weight:bold;
  font-size: 25px;
}

/* Position background images for texts in the right place behind menu link */

#fa-bg-ihmiset-menu {
  position:absolute;
  top:-135px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-ihmiset {
  position:absolute;
  top:-55px;
  z-index: -1;
  overflow: hidden;
}


b.fa-title{
  font-family:Gotham;
  font-weight:bold;
}

/*
 * Front Page
 */

body.front #page{
  background-image: url('../images/fa-etusivu.png');
  background-repeat: no-repeat;
}

/*
 * Koulutus Page
 */
.page-node-5{
  background-image: none;
}

