/**
 * @file
 * Filosofian Akatemia specific div's and their styling
 */

#fa-address {
  font-size: 12px;
  float:left;
  padding-left: 52px;
}

#fa-customers {
  font-size: 12px;
  float: left;
  padding-left: 170px;
  /*margin-top: -5px;*/
}

#fa-customers-img {
  *margin-top: -5px;
}

#fa-some, #fa-some a {
  font-family:Gotham;
  color: #008bbb;
}

#fa-front-heading {
  padding-top: 30px;
  font-family:'Gotham Book';
  font-weight:bold;
  font-size: 18px;
  color: #00abe5;
}

#fa-front-action {
  padding-top: 70px;
}

/* Position background images for texts in the right place behind menu link */

#block-fa-fa-bg {
  margin-left: -62px;
}

.fa-bg {
  /* This is needed for menu bg to work with Chrome when there is an admin bar */
  width: 467px;
}

#fa-bg-blogi-menu {
  position:absolute;
  margin-top: -218px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-blogi {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-koulutus-menu {
  position:absolute;
  margin-top: -190px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-koulutus {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-tutkimus-menu {
  position:absolute;
  margin-top: -170px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-tutkimus {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-ihmiset-menu {
  position:absolute;
  margin-top: -150px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-ihmiset {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-lykeion-menu {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-lykeion {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

/* 
 * Special classes that can be used in content
 */
b.fa-title{
  font-family:Gotham;
  font-weight:bold;
}

.fa-blue{
  color: #00abe5;
}

.fa-separator {
  text-align: center;
  margin-top: -5px;
  margin-bottom: -5px;
}

/*
 * Front Page
 */

.front #page{
  background-image: url('../images/front-background.png');
  background-repeat: no-repeat;
  background-position: 0px -17px;
}

.front .node{
  padding-top: 1.5em;
}

/**
 * Need a special important to get this to override
 * the setting for .node in fixed-width.css
 */
.node-preliminary-assignment, .node-webform {
  margin-left: 100px !important;
}

/*
 * Settings for the FA course block
 */
#fa-course {
  padding-left: 13.5em !important;
}

/**
 * Logo
 */
#logo {
  width:238px;
}

.mailchimp-lists-user-subscribe-form{
  padding-left: 7em;
}
