/**
 * @file
 * Filosofian Akatemia specific div's and their styling
 */

#fa-address {
  font-family:Gotham;
  font-size: 12px;
  float:left;
  padding-left: 70px;
}

#fa-customers {
  font-family:Gotham;
  font-size: 12px;
  float: left;
  padding-left: 100px;
  margin-left: 62px;
}

#fa-customers-img {
  *margin-top: -5px;
}

#fa-some, #fa-some a {
  font-family:Gotham;
}

.fa-lykeion {
  padding-left: 120px;
  margin-left: 60px;
}

.fa-person, .fa-product, .fa-research{
  font-family: 'Gotham';
  font-weight: bold;
}

#fa-front-heading {
  padding-top: 30px;
  font-family:'Gotham Book';
  font-weight:normal;
  font-size: 18px;
  color: #00C3FF;
}

#fa-front-action {
  padding-top: 70px;
}

/* Position background images for texts in the right place behind menu link */

#block-fa-fa-bg {
  margin-left: -62px;
}

.fa-bg {
  /* This is needed for menu bg to work with Chrome when there is an admin bar */
  width: 467px;
}

#fa-bg-blogi-menu {
  position:absolute;
  margin-top: -218px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-blogi {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-koulutus-menu {
  position:absolute;
  margin-top: -190px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-koulutus {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-tutkimus-menu {
  position:absolute;
  margin-top: -170px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-tutkimus {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-ihmiset-menu {
  position:absolute;
  margin-top: -150px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-ihmiset {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-lykeion-menu {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

#fa-bg-lykeion {
  position:absolute;
  margin-top: -115px;
  z-index: -1;
  overflow: hidden;
}

/* 
 * Special classes that can be used in content
 */
.fa-page-title{
  color: #00C3FF;
  font-family: 'Gotham Book';
  font-size: 15px;
  font-weight: bold;
}

/**
 * Same as <strong>
 */
.fa-title{
  color: #00C3FF;
  font-family:Gotham;
  font-weight:normal;
}

.fa-small-title{
  font-family:Gotham;
  font-weight:bold;
  font-size:14px;
  color: #00C3FF;
}

.fa-blue{
  color: #00C3FF;
}

.fa-separator {
  text-align: center;
  margin-top: -5px;
  margin-bottom: -5px;
}

/*
 * Settings for the FA course block
 */
#fa-course {
  padding-left: 13.5em !important;
}

/**
 * Social buttons
 */

.fa-social-buttons{
  float: left;
  padding-bottom: 10px;
}


/**
 * Text "Ennakkotehtävä" visible in
 * under lykeion/[course]/ennakkotehtävä
 */
#fa-text-preliminary-assignment{
  margin-top: -20px;
}
