/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node { /* Node wrapper */
}

.preview .node { /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
  font-family: 'Gotham';
  font-weight: normal;
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

/* Padding settings */
.node-page, 
.node-mailchimp-campaign, 
.view-mailchimp-campaign-view .item-list,
.node-preliminary-assignment, .node-webform,
.node-authenticated-user-page,
.node-academicians-page,
.node-course_assignment{ 
  padding-left: 120px;
}

/*
 * Settings for blog texts
 */
.node-mailchimp-campaign .node-title {
  display:inherit;
}

.node-mailchimp-campaign p.submitted {
  margin-bottom:-7px;
}

.node-type-mailchimp-campaign #page-title {
  display:inherit;
}

/**
 * Preliminary assignments
 */
.node-preliminary-assignment, .node-webform, .node-course_assignment {
  margin-left: 60px;
}

.webform-client-form .form-item label {
  font-family:Gotham;
  font-weight: bold;
  color: #139ADE;
  padding-top: 20px;
}

.webform-client-form #edit-actions {
  padding-top: 30px;
  padding-bottom: 30px;
}

.webform-grid {
  margin-top: 5px;
}

.webform-grid thead, .webform-grid tr, .webform-grid th{
  border-bottom: none;
}
.webform-grid th {
  color: #139ADE;
}

.webform-grid tr th.webform-grid-question,
.webform-grid tr td.webform-grid-question {
  display: block;
  float: left;
  padding-right: 50px;
}


.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}
